<nav *ngIf="person" class="navbar navbar-expand-lg navbar-default fixed-top py-3" aria-label="Fifth navbar example">
  <div class="container-fluid">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <img id="logoKKM" src="assets/images/logos/logo-kkm-officiel-SansFond.png" alt="logoKKM">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link disabled" routerLink="" disabled routerLinkActive="active">Mon groupe</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="plats" routerLinkActive="active">Mes plats</a></li>
        <li class="nav-item"><a class="nav-link disabled" routerLink="" disabled routerLinkActive="active">Aliments</a></li>
      </ul>
      <p class="mb-2">{{ getPrenomNom() }} </p>

        <img width="50" height="50" class="rounded-circle" [src]="person?.urlPhoto" alt="Photo de profil" />

      <button mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="matmenu-class">
        <button mat-menu-item routerLink="identity">
          <mat-icon>face</mat-icon>
          <span>Identité</span>
        </button>
        <button mat-menu-item routerLink="morphology">
          <mat-icon>accessibility</mat-icon>
          <span>Morphologie</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
    </div>
  </div>

</nav>


