<div class="container">
  <mat-card>

    <mat-toolbar class="toolbar-form" >
      <span>{{ isSignupFormView? 'INSCRIPTION' : 'CONNEXION' }}</span>
      <span class="toolbar-form-spacer"></span>
      <img mat-card-image src="assets/images/logos/logo-kkm-officiel-SansFond.png" class="img-matcard" alt="Logo-kkm">
    </mat-toolbar>

    <mat-card-content>

      <form [formGroup]="signinForm"  class="form">

        <mat-form-field appearance="standard" *ngIf="isSignupFormView">
          <mat-label>Entrez votre prénom</mat-label>
          <input type="text" matInput formControlName="prenom" minlength="2">
          <mat-error *ngIf="hasErrors(signinForm.get('prenom'), 'minlength')">
            Le prénom doit avoir au minimum 2 caractères.
          </mat-error>
          <mat-error *ngIf="hasErrors(signinForm.get('prenom'), 'required')">
            Le prénom est <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" *ngIf="isSignupFormView">
          <mat-label>Entrez votre nom</mat-label>
          <input type="text" matInput formControlName="nom" minlength="2">
          <mat-error *ngIf="hasErrors(signinForm.get('nom'), 'minlength')">
            Le nom doit avoir au minimum 2 caractères.
          </mat-error>
          <mat-error *ngIf="hasErrors(signinForm.get('nom'), 'required')">
            Le nom est <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" *ngIf="isSignupFormView">
          <mat-label>Date de naissance</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="standard">
          <mat-label>Entrez votre email</mat-label>
          <input type="email" matInput formControlName="email"
                 placeholder="Ex. pat@example.com">
          <mat-error *ngIf="hasErrors(signinForm.get('email'), 'email')">
            Veuillez entrer un email valide.
          </mat-error>
          <mat-error *ngIf="hasErrors(signinForm.get('email'), 'required')">
            L'email est <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Entrer votre mot de passe</mat-label>

          <input matInput [type]="hide ? 'password' : 'text'" minlength="4" formControlName="pwd">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="hasErrors(signinForm.get('pwd'), 'minlength')">
            Le mot de passe doit avoir au moins 4 caractères.
          </mat-error>
          <mat-error *ngIf="hasErrors(signinForm.get('pwd'), 'required')">
            Le mot de passe est <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="cdu" *ngIf="isSignupFormView">J'accepte les conditions d'utilisation <a class="disabled" href="#" disabled>CDU</a></mat-checkbox>
      </form>
    </mat-card-content>


      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button mat-button class="btn btn-outline-secondary btn-lg me-5"
          routerLink="/home">Accueil</button>
        <button mat-button type="submit" class="btn btn-dark btn-lg" [disabled]="!signinForm.valid" (click)="submitForm()">Valider</button>
      </div>

      <div>
        <a matLine [routerLink]="['resetPassword']">Mot de passe oublié ?</a>
      </div>

      <div class="alert alert-success text-center" role="alert" *ngIf="message">
        {{message}}
      </div>

      <div class="alert alert-warning text-center" role="alert" *ngIf="error">
        {{error}}
      </div>

  </mat-card>
</div>
