<div isFormToCreatePersonByUser = "isFormToCreatePersonByUser">
  <form class="mat-form" [formGroup]="identityForm" (ngSubmit)="submitForm()">

  <!--    > FormMaterial NOM    -->
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput type="text"
        class="form-control"
        id="nom"
        formControlName="nom"
        [ngClass]="{
          'is-invalid':
            (identityForm.get('nom')!.touched ||
              identityForm.get('nom')!.dirty) &&
            !identityForm.get('nom')!.valid
        }">
        <span class="invalid-feedback">
          <span *ngIf="identityForm.get('nom')!.errors?.['required']">
            Veuillez entrer votre nom.
          </span>
          <span *ngIf="identityForm.get('nom')!.errors?.['minlength']">
            Le nom doit avoir au moins 2 caractères.
          </span>
          <span *ngIf="identityForm.get('nom')!.errors?.['maxlength']">
            Le nom doit avoir au max 50 caractères.
          </span>
        </span>
      </mat-form-field>
    </div>

    <!--    > FormMaterial PRENOM    -->
    <div class="form-group">
      <mat-form-field appearance="outline" >
        <mat-label>Prenom</mat-label>
        <input matInput
        type="text"
        class="form-control"
        id="prenom"
        placeholder="Prenom"
        formControlName="prenom"
        [ngClass]="{
          'is-invalid':
            (identityForm.get('prenom')!.touched ||
              identityForm.get('prenom')!.dirty) &&
            !identityForm.get('prenom')!.valid
        }">
        <span class="invalid-feedback">
          <span *ngIf="identityForm.get('prenom')!.errors?.['required']">
            Veuillez entrer votre prénom.
          </span>
          <span *ngIf="identityForm.get('prenom')!.errors?.['minlength']">
            Le prénom doit avoir au moins 2 caractères.
          </span>
          <span *ngIf="identityForm.get('prenom')!.errors?.['maxlength']">
            Le prénom doit avoir au max 50 caractères.
          </span>
        </span>
      </mat-form-field>
    </div>

    <!--    > FormMaterial DESCRIPTION    -->
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput
        type="text"
        class="form-control"
        id="description"
        formControlName="description">
        <span class="invalid-feedback">
          <span *ngIf="identityForm.get('description')!.errors?.['minlength']">
            La description doit avoir au moins 2 caractères.
          </span>
          <span *ngIf="identityForm.get('description')!.errors?.['maxlength']">
            La description doit avoir au max 100 caractères.
          </span>
        </span>
      </mat-form-field>
    </div>

    <!--    > FormMaterial DATE DE NAISSANCE    -->
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Date de naissance</mat-label>
        <input matInput
        type="date"
        class="form-control"
        id="dateNaissance"
        formControlName="dateNaissance"
        [ngClass]="{
          'is-invalid':
            (identityForm.get('dateNaissance')!.touched ||
              identityForm.get('dateNaissance')!.dirty) &&
            !identityForm.get('dateNaissance')!.valid
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="identityForm.get('dateNaissance')!.errors?.['required']">
          Veuillez entrer votre date de naissance.
        </span>
      </span>
      </mat-form-field>
    </div>

    <div class="alert alert-success text-center" role="alert" *ngIf="message">
      {{message}}
    </div>

    <div class="btn">
      <button mat-stroked-button
      type="submit"
      [disabled]="!identityForm.valid"
      (click)="goToMainView()">Valider</button>
    </div>
  </form>
  </div>

