.mat-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.mat-focus-indicator:hover {
  background-color: #2D6A4F;
  color: whitesmoke;
}

.kcal{
  color: rgba(0,0,0,.38);
}

