<mat-sidenav-container class="app-sidenav-container"
                      [class.dark-theme]="isDarkTheme">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
               [opened]="!isScreenSmall"
               [mode]="isScreenSmall ? 'over' : 'side'">
    <mat-toolbar class="logoRond">
      <a href="/person/identity" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img id="logoKKM" src="assets/images/logos/rondLogoKKM.png" alt="logoKKM">
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item class="sidenav-list-item">
        <a matLine class="mat-line" [routerLink]="['maFamille']" disabled>
          <mat-icon mat-list-icon>groups</mat-icon>Ma famille
        </a>
      </mat-list-item>
      <mat-list-item class="sidenav-list-item">
        <a matLine [routerLink]="['']" disabled>
          <mat-icon mat-list-icon>groups</mat-icon>Groupe
        </a>
      </mat-list-item>
      <mat-list-item class="sidenav-list-item">
        <a matLine [routerLink]="['plats']">
          <mat-icon mat-list-icon>restaurant</mat-icon> Plats
        </a>
      </mat-list-item>
      <mat-list-item class="sidenav-list-item">
        <a matLine [routerLink]="['']" disabled>
           <mat-icon mat-list-icon>local_pizza</mat-icon>Aliments
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleTheme)="toggleTheme()"
                 (toggleSidenav)="sidenav.toggle()">
    </app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
